<h1>Editar Carro</h1>



 <%= form_for :car, url: car_path(@car), method: :PATCH do |f| %>
<% if @car.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@car.errors.count, "error") %> No se pudo guardar el carro:
       </h2>
       <ul>
         <% @car.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
   <p>
     <%= f.label :marca %><br>
     <%= f.text_field :marca %>
   </p>

      <p>
        <%= f.label :modelo %><br>
        <%= f.text_field :modelo %>
      </p>

 <p>
        <%= f.label :latitud %><br>
        <%= f.text_field :lat %>
      </p>

       <p>
              <%= f.label :longitud %><br>
              <%= f.text_field :long %>
            </p>

   <p>
     <%= f.submit  "Guardar Cambios"%>
   </p>
 <% end %>

 <%= link_to 'Volver', cars_path %>