

<h1>Lista de Carros</h1>


<%= link_to 'Nuevo Carro', new_car_path %>

<table class="table table-bordered">
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Latitud</th>
    <th>Longitud</th>
    <th colspan="3">Opciones</th>
  </tr>

  <% @car.each do |car| %>
    <tr>
      <td><%= car.marca %></td>
      <td><%= car.modelo %></td>
      <td><%= car.lat %></td>
      <td><%= car.long %></td>
      <td><%= link_to 'Mostrar', car_path(car) %></td>
      <td><%= link_to 'Editar', edit_car_path(car) %></td>
      <td><%= link_to 'Eliminar', car_path(car),
                    method: :delete,
                    data: { confirm: 'Seguro que deseas eliminar el carro?' } %></td>
    </tr>
  <% end %>
</table>