<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @car.lat %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @car.long %>
</p>


<h2>Piezas</h2>
<%= render @car.piezas %>


<h2>Agregar Pieza:</h2>
<%= render 'piezas/form' %>

<%= link_to 'Editar', edit_car_path(@car) %> |
<%= link_to 'Volver', cars_path %>