


<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @car.lat %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @car.long %>
</p>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<h2>Piezas</h2>
<%= render @car.piezas %>


<h2>Agregar Pieza:</h2>
<%= render 'piezas/form' %>

<%= link_to 'Editar', edit_car_path(@car) %> |
<%= link_to 'Volver', cars_path %>