
<div class="row borderInfoCar">
  <div class="col-xs-6" style="padding: 5%;">
    <p>
    <h2>Marca: <small> <%= @car.marca %></small></h2>
    </p>

    <p>
    <h2>Modelo: <small> <%= @car.modelo %></small></h2>
    </p>

    <p>
    <h2>Latitud: <small> <%= @car.lat %></small></h2>
    </p>

    <p>
    <h2>Longitud: <small> <%= @car.long %></small></h2>
    </p>
  </div>
  <div class="col-xs-6">
    <div id="map" style='width: 100%; height: 300px;'></div>
  </div>
</div>


<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<div class="borderInfoCar">
  <h2>Piezas</h2>
  <table class="table table-bordered">
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th colspan="2">Opciones</th>
    </tr>
    <%= render @car.piezas %>
  </table>
</div>
<div class="borderInfoCar">
  <h2>Agregar Pieza:</h2>
  <%= render 'piezas/form' %>
</div>
<%= link_to 'Editar Carro', edit_car_path(@car) %> |
<%= link_to 'Volver', cars_path %>